jenkins:
  name: jenkins
  namespace: jenkins
  replicas: 1
  
  image: jenkins/jenkins
  tag: lts-jdk17
  imagePullPolicy: IfNotPresent
  
  serviceAccount: jenkins
  
  javaOpts: "-Xmx1024m -Xms512m -Djenkins.install.runSetupWizard=false"
  
  # Jenkins plugins - will be installed on first boot via install-plugins.txt
  installPlugins: true
  additionalPlugins:
    - release:2.12
    - promoted-builds:876.v99d29788b_36b_
  
  resources:
    requests:
      cpu: 500m
      memory: 1Gi
    limits:
      cpu: 2000m
      memory: 2Gi
  
  service:
    type: NodePort
    nodePort: 30000
  
  persistence:
    enabled: true
    claimName: jenkins-pvc
    size: 20Gi
    storageClass: local-storage
  
  ingress:
    enabled: false
  
  casc:
    config: |
      jenkins:
        systemMessage: "Jenkins GitOps Platform - Managed by ArgoCD"
        numExecutors: 2
        mode: NORMAL
        securityRealm:
          local:
            allowsSignup: false
            users:
              - id: admin
                password: ${JENKINS_ADMIN_PASSWORD:-admin123}
        authorizationStrategy:
          loggedInUsersCanDoAnything:
            allowAnonymousRead: false
        clouds:
          - kubernetes:
              name: kubernetes
              serverUrl: https://kubernetes.default
              namespace: jenkins
              jenkinsUrl: http://jenkins:8080
              jenkinsTunnel: jenkins:50000
              containerCapStr: 5
              templates:
                - name: jnlp-agent
                  namespace: jenkins
                  label: jnlp-agent
                  containers:
                    - name: jnlp
                      image: jenkins/inbound-agent:latest
                      workingDir: /home/jenkins/agent
                      ttyEnabled: true
                      resourceRequestCpu: 100m
                      resourceRequestMemory: 256Mi
                      resourceLimitCpu: 500m
                      resourceLimitMemory: 512Mi
      
      jobs:
        - script: >
            pipelineJob('release-job') {
              description('Jenkins Release Job - Build and publish artifacts')
              definition {
                cpsScm {
                  scm {
                    git {
                      remote {
                        url('https://github.com/pkalbande/jenkins-gitops-platform.git')
                        credentials('github-token')
                      }
                      branch('*/master')
                    }
                  }
                  scriptPath('jenkins/pipelines/release-build/Jenkinsfile')
                }
              }
            }
        
        - script: >
            pipelineJob('promotion-orchestrator-job') {
              description('Promotion Orchestrator Job - Manage environment promotions')
              definition {
                cpsScm {
                  scm {
                    git {
                      remote {
                        url('https://github.com/pkalbande/jenkins-gitops-platform.git')
                        credentials('github-token')
                      }
                      branch('*/master')
                    }
                  }
                  scriptPath('jenkins/pipelines/promotion-orchestrator/Jenkinsfile')
                }
              }
              parameters {
                stringParam('SOURCE_ENV', 'dev', 'Source environment (dev, test, stage)')
                stringParam('TARGET_ENV', 'test', 'Target environment (test, stage, prod)')
                stringParam('APPLICATION', 'app1', 'Application name (app1, app2)')
                stringParam('VERSION', '', 'Version/tag to promote')
              }
            }
      
      unclassified:
        location:
          url: http://localhost:30000
      
      credentials:
        system:
          domainCredentials:
            - credentials:
                - string:
                    scope: GLOBAL
                    id: github-token
                    secret: ${GITHUB_TOKEN}
                    description: GitHub Personal Access Token
                - usernamePassword:
                    scope: GLOBAL
                    id: docker-registry
                    username: ${DOCKER_USERNAME:-admin}
                    password: ${DOCKER_PASSWORD:-admin}
                    description: Docker Registry Credentials
                - string:
                    scope: GLOBAL
                    id: argocd-token
                    secret: ${ARGOCD_TOKEN}
                    description: ArgoCD API Token
